<h2>Please, register</h2>
<form >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  [(ngModel)]="email" name="email" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="exampleFirstname1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleFirstname1"  [(ngModel)]="firstname" name="firstname" aria-describedby="emailHelp" required>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" class="form-control" id="exampleInputPassword1"  [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit"(click) ="onSubmit()" class="btn btn-primary">Submit</button>
  </form>